<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Consent</title>
</head>
<body>
<p>In this study you will be playing a simple game against an intelligent adversary. </p>
<p>The purpose of the study is to help understand human strategies.</p>
<p>You will be asked to play a series of games. This study should take you no more than N minutes.</p>
<p>We will record the moves you make, as well as the time they were made.</p>
<p>Game-play information will be anonymized.</p>
<p>To participate in the study, please press "Participate"</p>
<form action="#" method="post" id=buttons>
    <p><input type="submit" value="Participate"/></p>

  </form>
</body>
</html>