<!doctype html>
<html lang=en>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
  <title>Example “Game” for Sterling</title>
 </head>
<body>
  {{ svg|safe }}
  <!--p id=count_txt>Turn Number: {{ turn_number | safe }}</p-->
  <p id=feedback_txt>{{ feedback | safe }}</p>
  <p id=scoreboard_text>Scoreboard</p>
  <table id=scoreboard_table>
    <tr>
      <th>Total Score</th>
      <td>{{score | safe}}</td>
    </tr>
    <tr>
      <th>Your Steps</th>
      <th>Best Steps</th>
    </tr>
    <tr>
      <td>{{yoursteps | safe}}</td>
      <td>{{beststeps | safe}}</td>
    </tr>
  </table>

<img src="images/player_square.png" style='position:absolute; top:120px; left: 500px; height:25px; width:25px;'>
<p style='position:absolute; top:110px; left: 540px;'>&#8226;Orange square is controlled by you, the player.</p>
<img src="images/goal_square.png" style='position:absolute; top:150px; left: 500px; height:25px; width:25px;'>
<p style='position:absolute; top:140px; left: 540px;'>&#8226;Green square is the goal square, it does not move.</p>
<img src="images/adversary_square.png" style='position:absolute; top:180px; left: 500px; height:25px; width:25px;'>
<p style='position:absolute; top:170px; left: 540px;'>&#8226;Red square is the adversary. It is controlled by an AI.</p>
<img src="images/empty_square.png" style='position:absolute; top:210px; left: 500px; height:25px; width:25px;'>
<p style='position:absolute; top:200px; left: 540px;'>&#8226;Gray square is empty space. Players are free to move to an adjacent empty space.</p>
<img src="images/obstacle_square.png" style='position:absolute; top:240px; left: 500px; height:25px; width:25px;'>
<p style='position:absolute; top:230px; left: 540px;'>&#8226;Black square is an obstacle. Players cannot move into adjacent obstacles.</p>
  <form action="/move" method="post" id=buttons>
    <button id=up name=choice value=2 style="background-image: url('images/up.png')"></button>
    <button id=down name=choice value=1 style="background-image: url('images/down.png')"></button>
    <button id=left  name=choice value=3 style="background-image: url('images/left.png')"></button>
    <button id=right name=choice value=4 style="background-image: url('images/right.png')"></button>
    <button id=noop name=choice value=0 style="background-image: url('images/noop.png')"></button>
    <button id=reset name=choice value=99 >RESET</button>
    <input type="text" name=step_number style="visibility: hidden;" value="{{turn_number}}"></input>
  </form>
<p id="episodecounter">Episodes complete: {{episodes  | safe }} / 50 </p>
</body>
</html>
