<!doctype html>
<html lang=en>
  <meta charset=UTF-8>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
  <title>Example “Game” for Sterling</title>
 </head>
<body>
  {{ svg|safe }}
  <form id=buttons>
    <button id=up name=choice value=up style="background-image: url('images/up.png')"></button>
    <button id=down name=choice value=down style="background-image: url('images/down.png')"></button>
    <button id=left  name=choice value=left style="background-image: url('images/left.png')"></button>
    <button id=right name=choice value=right style="background-image: url('images/right.png')"></button>
    <button id=noop name=choice value=noop style="background-image: url('images/noop.png')"></button>
    <button id=reset name=choice value=reset >RESET</button>
  </form>
</body>
</html>
