<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
    <title>Instructions</title>
</head>
<body>
<p id="instruction1">Below is an image of the game arena. Each element in the game is described.<br>
                    </p>
<img src="images/environment.png" id="environment">
<img src="images/player_square.png" id="playersquare">
<p id="orangetext">&#8226;Orange square is contolled by you, the player.</p>
<img src="images/goal_square.png" id="goalsquare">
<p id="greentext">&#8226;Green square is the goal square, it does not move.</p>
<img src="images/adversary_square.png" id="adversarysquare">
<p id="redtext">&#8226;Red square is the adversary. It is controlled by an AI.</p>
<img src="images/empty_square.png" id="emptysquare">
<p id="graytext">&#8226;Gray square is empty space. Players are free to move to an adjacent empty space.</p>
<img src="images/obstacle_square.png" id="obstaclesquare">
<p id="blacktext">&#8226;Black square is an obstacle. Players cannot move into adjacent obstacles.</p>

<table style="position: absolute; left:325px; top:250px">
    <tr>
      <th>Your Steps</th>
      <th>Best Steps</th>
    </tr>
    <tr>
      <td>3</td>
      <td>8</td>
    </tr>
  </table>
<p style="position:absolute; left:490px; top:230px;">&#8226;You will see a scoreboard to the right of the game arena.<br>
&#8226;It shows the number of steps you have taken, and the least steps recorded for the level.<br>
&#8226;Try to match or beat this step count.</p>

<form action="#" method="post" id=buttons>

    <p><input id="keepgoingbutton" type="submit" value="Next"/></p>
</body>
</html>