<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
    <title>Instructions</title>
</head>
<body>
<p id="instruction3">Scroll down to see examples of losing</p>

<p id="losing1text">Player and adversary moving into same squre results in loss.</p>
<img src="images/losing_1_animated.gif" id="losing1animated">
<p id="losing2text">Player and adversary crossing over one another results in a loss.</p>
<img src="images/losing_2_animated.gif" id="losing2animated">
<p id="losing3text">If player or adversary does not move (either uses 'stand still' or hits a wall) <br>
and the alternate player move into that square, that results in a loss.</p>
<img src="images/losing_3_animated.gif" id="losing3animated">
<form action="#" method="post" id=buttons>
    <p><input id="keepgoingbutton_alt1" type="submit" value="Next"/></p>
</body>
</html>