<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
    <title>Instructions</title>
</head>
<body>
<p id="instruction2">This game is synchronous-turn-based, meaning all players submit a move, and then all moves are resolved simultaneosly. <br>
                    &#8226;Take as much time as you need to make a good move.<br>
                    &#8226;A good move is more important than a fast move</p>

<form action="#" method="post" id=buttons>
    <p><input id="keepgoingbutton" type="submit" value="Next"/></p>
</body>
</html>