<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel=stylesheet href="{{url_for('static', filename='game.css')}}">
    <title>Instructions</title>
</head>
<body>
<p id="instruction3">How to win</p>

<p id="winning">Any time your square enters the green goal square, you win.</p>
<img src="images/winning_animated.gif" id="winninganimated">
<form action="#" method="post" id=buttons>
    <p><input id="keepgoingbutton" type="submit" value="Next"/></p>
</body>
</html>